* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ababab;
}

p {
    color: #ababab;
}

button, input {
    cursor: pointer;
}

body {
    background: #131215;
    /*background: #a1a1a1;*/
    padding: 10px 10px 0 10px;
}

html body {
    height: 100%;
}

.left_menu {
    border-radius: 10px;
    background: #212025;
    /*height: 770px;*/
    height: 95%;
    width: 10%;
    position: fixed;
    float: left;
    z-index: 10;
}

.list_left_menu {
    padding: 10px 10px;
}

.list_left_menu li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 10px;
    height: 30px;
    border-radius: 10px;
}

.list_left_menu a:hover {
    color: #f58021;
}

.list_left_menu a:hover li{
    background: #2a292e;
}

.user_info {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
}

.user_info p {
    margin-left: 5px;
    color: #f58021;
}

.but {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: #f58021;
    color: #ffffff;
    margin-top: 10px;
    outline: none;
}


.main_header {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.header {
    background: #212025;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 10px;
    position: relative;
}

.header input {
    background: #212025;
    color: #ababab;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.header button {
    position: absolute;
    right: 10px;
}

.header input::placeholder{
    color: #ababab;
}

.logo {
    background: #212025;
    height: 50px;
    width: 43.5%;
    border-radius: 10px;
    padding: 0 20px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo p {
    color: #ababab;
    font-size: 30px;
    position: relative;
    top: 5px;
}

.main_content {
    background: #131215;
    padding-left: 10px;
    width: 90%;
    position: static;
    float: right;
}

.content {
    margin: 0 0 2px 0;
    width: 100%;
    height: 100%;
    background: #212025;
    border-radius: 10px;
    padding: 10px;
    letter-spacing : -.36em;
}

.category {
    width: 13vw;
    height: 16vw;
    background: #212025;
    border-radius: 10px;
    border: #2a292e solid 2px;
    margin: 10px;
    display: inline-block;
    letter-spacing: normal;
}

.category img {
    width: 13vw;
    height: 13vw;
    margin: -2px 0 0 -2px;
    border-radius: 10px;
    position: relative;
}

.category p {
    text-align: center;
    position: relative;
    bottom: -10px;
}

.category:hover{
    background: #2a292e;
}

.category:hover p{
    color: #f58021;
}


.content_tovars {
    margin: 0 0 2px 0;
    width: 100%;
    height: 100%;
    background: #212025;
    border-radius: 10px;
    padding: 10px;
    top: -50px;
}

.tovats {
    width: 98.5%;
    min-height: 13vw;
    background: #212025;
    border-radius: 10px;
    border: #2a292e solid 2px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

.tovats img {
    width: 13vw;
    height: 13vw;
    border-radius: 10px;
    float: left;
}

.tovat {
    width: 98.5%;
    /*height: 13vw;*/
    min-height: 13vw;
    background: #212025;
    border-radius: 10px;
    border: #2a292e solid 2px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

.tovat img {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    float: left;
}

.tovars_info {
    margin-top: 20px;
    display: inline-block;
    width: 63%;
    height: 100%;
}

.tovars_info_text {
    width: 100%;
    height: 100%;
    display: block;
    /*padding: 20px;*/
}

.tovars_info_text p {
    margin-left: 20px;
    word-wrap: break-word;
}

.tovars_active{
    height: 100%;
    width: 9%;
    float: right;
}

.tovars_active > p:first-child {
    position: relative;
    color: #f58021;
    top: 12px;
    right: 10px;
    float: left;
}

.tovar_info {
    margin-top: 20px;
    display: inline-block;
    width: 53%;
    height: 100%;
}

.tovar_info_text {
    width: 100%;
    height: 100%;
    display: block;
    /*padding: 20px;*/
}

.tovar_info_text p {
    margin-left: 20px;
    word-wrap: break-word;
}

.tovar_info_text p:first-child {
    margin-left: 20px;
    word-wrap: break-word;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -20px;
}

.tovar_info_text p:last-child {
    margin-left: 20px;
    word-wrap: break-word;
    margin-top: 10px;
}

.tovar_otziv {
    background: #212025;
    border-radius: 10px;
    border: #2a292e solid 2px;
    padding: 10px;
    width: 98.5%;
    margin: 0 10px 10px 10px;
}

.tovar_otziv_header {
    position: relative;
    word-wrap: break-word;
    display: inline-block;
    width: 100%;
}

.tovar_otziv_header_name{
    width: 73%;
    margin-bottom: 10px;
}

.tovar_otziv_header_right{
    position: absolute;
    right: 0;
    top: 0;
}

.tovar_otziv_header_right p{
    color: #f58021;
}

.tovar_otziv_header_right p:first-child{
    color: #ababab;
}

.tovar_otziv_header_right p{
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.tovar_active{
    height: 100%;
    width: 9%;
    float: right;
}

.rating {
    position: relative;
    color: #f58021;
    top: 12px;
    right: 10px;
    float: left;
}

.rating-mini_otziv {
    display: inline-block;
    font-size: 0;
}

.rating-mini {
    margin-top: 10px;
    display: inline-block;
    font-size: 0;
}
.rating-mini span, .rating-mini_otziv span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: #ababab;
}
.rating-mini > span:before, .rating-mini_otziv > span:before {
    content: '★';
}
.rating-mini > span.active, .rating-mini_otziv > span.active {
    color: #f58021;
}

.price {
    margin-top: 20px;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    position: relative;
    right: -20px;
}

.price_tov {
    margin-top: 20px;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    position: relative;
    right: -40px;
}

.price p, .price_tov p {
    text-align: center;
    color: #f58021;
}

.in_korzina {
    background: #f58021;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 75px;

    border: none;
    height: 50px;
    color: #ffffff;
    outline: none;
}

.in_korzina_tov {
    background: #f58021;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;

    border: none;
    height: 50px;
    color: #ffffff;
    outline: none;
}

.otziv_tov {
    background: #f58021;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;

    border: none;
    height: 50px;
    color: #ffffff;
    outline: none;
}

.tovats:hover{
    background: #2a292e;
}

.del_tovars, .del_tovar {
    position: absolute;
    right: 10px;
    top: 20px;
}

.but_del {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: none;
    color: #2a292e;
    margin-top: 10px;
    border: none;
}

.but_del:hover {
    background: #f58021;
    color: #ffffff;
}

.content_add_tovars {
    margin: 0 0 2px 0;
    width: 100%;
    height: 100%;
    background: #212025;
    border-radius: 10px;
    padding: 10px;
}

.but_add {
    background: #f58021;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
    border: none;
}

.inputs input {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #212025;
    color: #ababab;
    outline: none;
    border: 1px solid #2a292e;
    border-radius: 5px;
    margin-top: 10px;
}

.inputs select {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #212025;
    color: #ababab;
    outline: none;
    border: 1px solid #2a292e;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.inputs textarea {
    margin-top: 10px;
    padding: 10px;
    color: #ababab;
    background: #212025;
    width: 100%;
    height: 290px;
    border: 1px solid #2a292e;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    overflow: auto;
}

.tovar_feedback p {
    position: relative;
    top: -20px;
}

.tovar_feedback img {
    width: 100px;
    float: left;
    border-radius: 10px;
}

.err{
    margin-top: 10px;
    color: red;
}
